#app .hello,.fucking,.world {
    color: green;
}

.hello {
    color: red;
}

.fucking {
    border-color: gray;
}

.world {
    background: white;
    @keyframes offset {
        from {}
        to {}
    }
}

.a {
    color: red;
    .v {

    }
}

